.section-green {
<<<<<<< HEAD
  background-color: firebrick; 
=======
  background-color: green;
>>>>>>> master
}

.section-blue {
  background-color: pink;
}

.section-red {
  background-color: greenyellow;
}

